{% extends 'base.html' %}

{% block content %}

    <div style="font-size: 2rem;">
        <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
            <p>
                {{ target_user.date_joined }}

            </p>
            <h2 style="font-family: 'NanumHandWritingRose';">
                {{ target_user.username }}

            </h2>
            {% if target_user == user %}
            <a href="{% url 'accountapp:update' pk=user.pk %}">
                <p>
                    비밀번호 변경(Change Password)
                </p>
            </a>

            <a href="{% url 'accountapp:delete' pk=user.pk %}">
                <p>
                    계정 삭제(Delete User Account)
                </p>
            </a>
            {% endif %}

        </div>


    </div>

{% endblock %}