{% extends 'base.html' %}

{% block content %}

    <div style="font-size: 2rem;">
        <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
            <p>
                {{ target_user.date_joined }}
            </p>



            {% if target_user.profile %}

            <img src="{{ target_user.profile.image.url }}"
                 alt="" style="height: 15rem; width: 15rem; border-radius: 15rem; margin-bottom: 1.5rem; object-fit: cover;">

            <br>

<!-- style="box-shadow: 0(그림자의 위치) 0(그림자의 위치) 4px(그림자의 크기)" -->
                {{ target_user.profile.nickname }}
                {% if target_user == user %}
                <a class="material-icons"
                   style="box-shadow: 0 0 6px orange; border-radius: 10rem; padding: .4rem;"
                        href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                    edit
                </a>
                {% endif %}

            <h5 style="margin-bottom: 2rem;">
                {{ target_user.profile.message }}
            </h5>

            {% else %}
            {% if target_user == user %}
            <a href="{% url 'profileapp:create' %}">
                <h2 style="font-family: 'NanumHandWritingRose';">
                    프로파일 생성(Create Profile)
                </h2>
            </a>
            {% else %}
            <h2>
                닉네임 미설정
            </h2>

            {% endif %}
            {% endif %}


            {% if target_user == user %}
            <a class="material-icons"
                   style="box-shadow: 0 0 6px blue; border-radius: 10rem; padding: .4rem; font-size: 2rem;"
                    href="{% url 'accountapp:update' pk=user.pk %}">
                <p>
                    manage_accounts
                </p>
            </a>

            <a class="material-icons"
                   style="box-shadow: 0 0 6px red; border-radius: 10rem; padding: .4rem; font-size: 2rem;"
                    href="{% url 'accountapp:delete' pk=user.pk %}">
                <p>
                    person_off
                </p>
            </a>
            {% endif %}

        </div>

        <div>
            {% include 'snippets/list_fragment.html' with article_list=object_list %}

        </div>

    </div>

{% endblock %}