{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div style="text-align: center; max-width: 300px; margin: 4rem auto">
        <div>
            <h4>Login</h4>
        </div>

        <div>
            <form action="" method="post">
                {% csrf_token %}
            <!--                {{ form }}-->

                {% bootstrap_form form %}
            <!-- col-6 = 부모의 너비의 50% 0~12(100%) //  mt-3 = margin top 3배, 뒤에 숫자가 배수  -->
                <input type="submit" class="btn btn-dark rounded-pill col-5 mt-3">
            </form>
        </div>

    </div>


{% endblock %}