
{% load bootstrap4 %}

{% block content %}

    <div style="text-align: center; max-width: 300px; margin: 4rem auto">
        <div class="mb-4">
            <h4>댓글 생성<br>(Create Comment)</h4>
        </div>

        <!-- 어떤 앱에서 어떤 라우팅으로 가라 -->
        <form action="{% url 'commentapp:create' %}" method="post">
            <!-- post를 쓰려면 장고에서 제공하는 보안 시스템때문에 {% csrf_token %}를 써야 한다.  -->
            {% csrf_token %}
            <!-- form_class = UserCreationForm에 의해서 {{ form }}로 설정하면 자동으로 만들어 준다. -->
<!--            {{ form }}-->
            {% bootstrap_form form %}

            {% if user.is_authenticated %}
            <input type="submit" class="btn btn-dark rounded-pill col-5 mt-3">
            {% else %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}"
               class="btn btn-dark rounded-pill col-5 mt-3">
                로그인(Login)
            </a>
            {% endif %}
            <input type="hidden" name="article_pk" value="{{ article.pk }}">
        </form>
    </div>

{% endblock %}