{% extends 'base.html' %}


{% block content %}

    <div style="text-align: center; max-width: 300px; margin: 4rem auto">
        <div class="mb-4">
            <h4>게시글 삭제(Delete Article) : {{ target_article.title }} </h4>
        </div>

        <!-- 어떤 앱에서 어떤 라우팅으로 가라 -->
        <form action="{% url 'articleapp:delete' pk=target_article.pk %}" method="post">
            <!-- post를 쓰려면 장고에서 제공하는 보안 시스템때문에 {% csrf_token %}를 써야 한다.  -->
            {% csrf_token %}

        <input type="submit" class="btn btn-dark rounded-pill col-5 mt-3">
        </form>
    </div>

{% endblock %}